<div>WELCOME TO THE INTERACTIVE CALCULATOR BY Lisa Gentil</div>

<div class="form-body">
  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div>
      <label>First Operand: </label>
      <input type="text" formControlName="operand1" autocomplete="off">

      <label>Operator: </label>
      <input type="text" formControlName="operator" autocomplete="off">

      <label>Second Operand: </label>
      <input type="text" formControlName="operand2" autocomplete="off">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngFor="let calculation of calculations">
  <div>{{ calculation.calcul }}</div>
</div>

<router-outlet></router-outlet>